.list-1 {
    margin-bottom: 70px;
}

.showing {
    border-bottom: solid 1px black;

    h2 {
        color: white;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 800;
    }


}

.pre-sale {
    h2 {
        color: white;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 800;
    }
}

.coming {
    h2 {
        color: white;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 800;
    }
}